/*Add ghost space to top*/
body::before {
    display: block;
    content: ''; 
    height: 50px;
}

.card-image {
    width: 40%;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media(min-width: 760px){
    .news-input {
        width: 50%;
    }
}